<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rimon.rsa.mental"
    android:versionCode="1"
    android:versionName="1.0" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.rimon.rsa.ibd.main.StartActivityIBD"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:showOnLockScreen="false" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rimon.rsa.ibd.log.LogView"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.rimon.rsa.ibd.export.Export"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.rimon.rsa.ibd.setting.Setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.rimon.rsa.ibd.delete.DeleteLogView"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.rimon.rsa.ibd.print.ActivityPrint"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.android.rsa.googlecludeprint.PrintDialogActivity" >
        </activity>
    </application>

</manifest>